In [1]:
import pandas as pd

In [24]:
cal = pd.read_csv("food_data_v2.csv")

In [25]:
cal.head()

,Food,Unnamed: 1,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,...,1_unit,1_grams,1_Calories,1_Protein,1_Fat,1_Sat.Fat,1_Fiber,1_Carbs,GI,GI_level
0,Cows' milk,NaN,1 qt.,976,660,32,40,36,0,48,...,1 cup,250,169.06,8.2,10.25,9.22,0,12.3,27.6,low
1,Milk skim,NaN,1 qt.,984,360,36,t,t,0,52,...,1 cup,250,91.46,9.15,#VALUE!,#VALUE!,0,13.21,27.6,low
2,Cheese,NaN,1 cup,225,240,30,11,10,0,6,...,15g,15,16.00,2,0.73,0.67,0,0.4,27.0,low
3,Cheddar,NaN,1-in. cube,17,70,4,6,5,0,t,...,15g,15,61.76,3.53,5.29,4.41,0,#VALUE!,27.0,low
4,Cream cheese,NaN,1 oz.,28,105,2,11,10,0,1,...,15g,15,56.25,1.07,5.89,5.36,0,0.54,27.0,low

In [26]:
cal_nona=cal.dropna(axis=1,how='all')
cal_nona.head()

,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category,...,1_unit,1_grams,1_Calories,1_Protein,1_Fat,1_Sat.Fat,1_Fiber,1_Carbs,GI,GI_level
0,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products,...,1 cup,250,169.06,8.2,10.25,9.22,0,12.3,27.6,low
1,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products,...,1 cup,250,91.46,9.15,#VALUE!,#VALUE!,0,13.21,27.6,low
2,Cheese,1 cup,225,240,30,11,10,0,6,Dairy products,...,15g,15,16.00,2,0.73,0.67,0,0.4,27.0,low
3,Cheddar,1-in. cube,17,70,4,6,5,0,t,Dairy products,...,15g,15,61.76,3.53,5.29,4.41,0,#VALUE!,27.0,low
4,Cream cheese,1 oz.,28,105,2,11,10,0,1,Dairy products,...,15g,15,56.25,1.07,5.89,5.36,0,0.54,27.0,low

In [27]:
cols=range(1,10)
cal_nona.drop(cal_nona.columns[cols], axis=1, inplace=True)

C:\Users\Kaiyun\AppData\Local\Temp\ipykernel_2488\3418823523.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cal_nona.drop(cal_nona.columns[cols], axis=1, inplace=True)

In [28]:
cal_nona.head()

,Food,bi_category,Tag,1_unit,1_grams,1_Calories,1_Protein,1_Fat,1_Sat.Fat,1_Fiber,1_Carbs,GI,GI_level
0,Cows' milk,Dairy_products_1,1,1 cup,250,169.06,8.2,10.25,9.22,0,12.3,27.6,low
1,Milk skim,Dairy_products_1,1,1 cup,250,91.46,9.15,#VALUE!,#VALUE!,0,13.21,27.6,low
2,Cheese,Dairy_products_2,1,15g,15,16.00,2,0.73,0.67,0,0.4,27.0,low
3,Cheddar,Dairy_products_2,1,15g,15,61.76,3.53,5.29,4.41,0,#VALUE!,27.0,low
4,Cream cheese,Dairy_products_2,1,15g,15,56.25,1.07,5.89,5.36,0,0.54,27.0,low

In [29]:
cal_new=cal_nona.replace('#VALUE!',0)
cal_new.head()

,Food,bi_category,Tag,1_unit,1_grams,1_Calories,1_Protein,1_Fat,1_Sat.Fat,1_Fiber,1_Carbs,GI,GI_level
0,Cows' milk,Dairy_products_1,1,1 cup,250,169.06,8.2,10.25,9.22,0,12.3,27.6,low
1,Milk skim,Dairy_products_1,1,1 cup,250,91.46,9.15,0,0,0,13.21,27.6,low
2,Cheese,Dairy_products_2,1,15g,15,16.00,2,0.73,0.67,0,0.4,27.0,low
3,Cheddar,Dairy_products_2,1,15g,15,61.76,3.53,5.29,4.41,0,0,27.0,low
4,Cream cheese,Dairy_products_2,1,15g,15,56.25,1.07,5.89,5.36,0,0.54,27.0,low

In [31]:
cal_new.columns=['Food','Bi_category','Tag','Unit','Grams','Calories','Protein','Fat','Sat.Fat','Fiber','Carbs','GI','GI_level']

In [32]:
cal_new.head()

,Food,Bi_category,Tag,Unit,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,GI,GI_level
0,Cows' milk,Dairy_products_1,1,1 cup,250,169.06,8.2,10.25,9.22,0,12.3,27.6,low
1,Milk skim,Dairy_products_1,1,1 cup,250,91.46,9.15,0,0,0,13.21,27.6,low
2,Cheese,Dairy_products_2,1,15g,15,16.00,2,0.73,0.67,0,0.4,27.0,low
3,Cheddar,Dairy_products_2,1,15g,15,61.76,3.53,5.29,4.41,0,0,27.0,low
4,Cream cheese,Dairy_products_2,1,15g,15,56.25,1.07,5.89,5.36,0,0.54,27.0,low